main{
  width: 100%;
  height: 840px;
  /*background: red;*/
  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}


body{
  background : url(img/2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
main .text{
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: rgb(253, 253, 237);
}
.text h1{
  font-size: 50px;
  color: #b7c8e8;  
}
h1{
  color: #b7c8e8;
}
.text p{
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}
main header{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #b7c8e8;
}
header p span{
  font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #e5f2f5;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
header p span:hover{
  background: #2f6c82;
    color: rgb(91, 164, 200);
}
section{
  width: 98%;
  height: 600px;
  /*background: red;*/
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar{
  display: none;
}
section .product{
  min-width: 24%;
  height: 90%;
  background: rgb(12, 34, 77);
  margin:  0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;

}
picture{
  width: 90%;
  height: 70%;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img{
  width: 100%;
}
.detail,
.button{
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #feeded;
}
small{color: #bf9292;}
a{
  text-decoration: none;
  padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    display: inline-block;
    background: #67b1d1;
    color: white;
}
p.star{
  margin: 5px auto;
    width: 65%;
    font-size: 25px;
    color: #808080;
}




@media (max-width: 768px) {
  .text h1{
    font-size: 35px;
  }
  .text p{
    width: 90%;
  }
  header h1{
    font-size: 25px;
  }
  header p span{
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    margin:  0 10px  0 0;
  }
  .detail, .button{
    font-size: 16px;
  }
  a{
    padding: 6px 10px;
  }
}

